<mat-toolbar color="primary">
    <button mat-icon-button aria-label="Click to open menu" (click)="nav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Rooster Scheduler</span>
    <span class="spacer"></span>
    <button mat-icon-button class="favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>