/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.menu, .menu > .mat-list-item-content > .mat-list-item {
    height: 40px !important;
}

.menu > .mat-list-item-content {
    padding: 0 !important;
}

h3.caption {
    margin: 12px;
}