.main-container {
  height: 100%;
}

.body-container {
    flex: 1 1 auto;
}

/* .nav-container {
    width: 20%;
    min-width: 240px;
    max-width: 360px;
    overflow-y: auto;
} */

.content-container {
  overflow: auto;
}